@use "../helpers" as *;

.popup {
  @include switch-user-select;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  input {
    @include switch-user-select(true);
  }

  min-width: rem(390);
  width: min-content;

  &.popup-hide {
    display: none;
  }

  & > div {
    padding: rem(35) rem(40);
    background-color: var(--background-color-forms);
    border-radius: var(--border-radius);
    opacity: 0.95;
  }

  &__title {
    margin: 0;
    text-align: center;
    padding-bottom: rem(24);
    opacity: 0.7;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(12);
  }

  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: var(--gap-small);
    font-weight: 500;
    color: var(--color-light2);
  }

  &__input {
    width: 100%;
  }

  &__button {
    @include olive-btn;

    width: 100%;
    padding: rem(4);
    margin-top: var(--gap);
  }

  &__adduser {
    .popup__button {
      background-color: var(--color-accent2);
    }
  }
}
